html {box-sizing:border-box;}
*, *:before, *:after {box-sizing:inherit;}

/*
  dark green: rgb(94,180,73)
  light green: rgb(128,195,115)

*/

.wrapper{
  width: 400px;
  display: block;
  font-size: 60px;
  font-weight: 100;
  font-family: monospace;
  margin: 20px auto;
}

.topBar {
  display: flex;
  flex-wrap: wrap;
}
.bottomButtons {
  display: flex;
  flex-wrap: wrap;
}
.button, .buttonFunction {
  width: 100px;
  height: 100px;
  background-color: rgb(94,180,73);
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button:hover {
  background-color: rgb(128,195,115);
}
.buttonFunction {
  width: 100px;
  height: 100px;
  background-color: rgb(128,195,115);
  color: gray;
}
.lcd {
  width: 300px;
  height: 100px;
  background-color: rgb(94,180,73);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}
